/* 基本元素 */
.arrow,
.item-arrow>* {
	padding-right: var(--padding_larger);
}

.arrow::after,
.item-arrow>*::after {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	content: "";
	padding: 3px;
	display: block;
	border: 1px solid v;
	border-width: 0 1px 1px 0;
	transition: all 0.2s;
}

.title-right .content {
	text-align: right;
}

.content-right .content {
	text-align: right;
}

/* 栅格 */
.row-1>* {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

.row-2>* {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.row-3>* {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.row-4>* {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.row-5>* {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%
}

.row-6>* {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

/* ===  列表  === */
.list-x>* {
	margin-top: -1px;
	margin-left: -1px;
	border: 1px solid #DBDBDB;
}

.list-1>* {
	width: 100%;
	flex-basis: 100%
}

.list-2>* {
	width: 50%;
	flex-basis: 50%
}

.list-3>* {
	width: 33.333333%;
	flex-basis: 33.333333%
}

.list-4>* {
	width: 25%;
	flex-basis: 25%
}

.list-5>* {
	width: 20%;
	flex-basis: 20%
}

.list-6>* {
	width: 16.666666%;
	flex-basis: 16.666666%
}

.list-8>* {
	width: 12.5%;
	flex-basis: 12.5%
}

.list-10>* {
	width: 10%;
	flex-basis: 10%
}

.list-12>* {
	width: 8.333333%;
	flex-basis: 8.333333%
}

[class*=grid-]>* {
	padding-right: 0.125rem;
	padding-bottom: 0.125rem;
	overflow: hidden;
}

.grid-1>* {
	width: 100%;
	flex-basis: 100%
}

.grid-2>* {
	width: 50%;
	flex-basis: 50%
}

.grid-3>* {
	width: 33.333333%;
	flex-basis: 33.333333%
}

.grid-4>* {
	width: 25%;
	flex-basis: 25%
}

.grid-5>* {
	width: 20%;
	flex-basis: 20%
}

.grid-6>* {
	width: 16.666666%;
	flex-basis: 16.666666%
}

.grid-8>* {
	width: 12.5%;
	flex-basis: 12.5%
}

.grid-10>* {
	width: 10%;
	flex-basis: 10%
}

.grid-12>* {
	width: 8.333333%;
	flex-basis: 8.333333%
}

.mobile .list-2>*,
.mobile .list-3>*,
.mobile .list-4>*,
.mobile .list-5>*,
.mobile .list-6>*,
.mobile .list-8>*,
.mobile .list-10>*,
.mobile .list-12>* {
	border-right: 1px solid var(--color_border);
}

.mobile .list-2>*:nth-child(2n),
.mobile .list-3>*:nth-child(3n),
.mobile .list-4>*:nth-child(4n),
.mobile .list-5>*:nth-child(5n),
.mobile .list-6>*:nth-child(6n),
.mobile .list-8>*:nth-child(8n),
.mobile .list-10>*:nth-child(10n),
.mobile .list-12>*:nth-child(12n) {
	border-right: none;
}

@media (min-width:576px) {
	.container {
		max-width: 33.75rem
	}
}

@media (min-width:768px) {
	.container {
		max-width: 45rem
	}
}

@media (min-width:992px) {
	.container {
		max-width: 60rem
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 71.25rem
	}
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	width: 100%;
	padding-right: var(--margin_base);
	padding-left: var(--margin_base);
	margin-right: auto;
	margin-left: auto
}

@media (min-width:576px) {

	.container,
	.container-sm {
		max-width: 33.75rem
	}
}

@media (min-width:768px) {

	.container,
	.container-md,
	.container-sm {
		max-width: 45rem
	}
}

@media (min-width:992px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 60rem
	}
}

@media (min-width:1200px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 71.25rem
	}
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	position: relative;
	width: 100%;
}


.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}


@media (min-width:576px) {
	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		min-width: 0;
		max-width: 100%
	}

	.row-sm-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.row-sm-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.row-sm-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.row-sm-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.row-sm-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.row-sm-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-sm-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-sm-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-sm-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-sm-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-sm-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-sm-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-sm-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-sm-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-sm-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-sm-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-sm-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-sm-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.list-sm-1>* {
		width: 100%;
		flex-basis: 100%
	}

	.list-sm-2>* {
		width: 50%;
		flex-basis: 50%
	}

	.list-sm-3>* {
		width: 33.333333%;
		flex-basis: 33.333333%
	}

	.list-sm-4>* {
		width: 25%;
		flex-basis: 25%
	}

	.list-sm-5>* {
		width: 20%;
		flex-basis: 20%
	}

	.list-sm-6>* {
		width: 16.666666%;
		flex-basis: 16.666666%
	}

	.list-sm-8>* {
		width: 12.5%;
		flex-basis: 12.5%
	}

	.list-sm-10>* {
		width: 10%;
		flex-basis: 10%
	}

	.list-sm-12>* {
		width: 8.333333%;
		flex-basis: 8.333333%
	}

	.mobile .list-sm-2>*,
	.mobile .list-sm-3>*,
	.mobile .list-sm-4>*,
	.mobile .list-sm-5>*,
	.mobile .list-sm-6>*,
	.mobile .list-sm-8>*,
	.mobile .list-sm-10>*,
	.mobile .list-sm-12>* {
		border-right: 1px solid var(--color_border);
	}

	.mobile .list-sm-2>*:nth-child(2n),
	.mobile .list-sm-3>*:nth-child(3n),
	.mobile .list-sm-4>*:nth-child(4n),
	.mobile .list-sm-5>*:nth-child(5n),
	.mobile .list-sm-6>*:nth-child(6n),
	.mobile .list-sm-8>*:nth-child(8n),
	.mobile .list-sm-10>*:nth-child(10n),
	.mobile .list-sm-12>*:nth-child(12n) {
		border-right: none;
	}
}

@media (min-width:768px) {
	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		min-width: 0;
		max-width: 100%
	}

	.row-md-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.row-md-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.row-md-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.row-md-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.row-md-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.row-md-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-md-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-md-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-md-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-md-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-md-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-md-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-md-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.list-md-1>* {
		width: 100%;
		flex-basis: 100%
	}

	.list-md-2>* {
		width: 50%;
		flex-basis: 50%
	}

	.list-md-3>* {
		width: 33.333333%;
		flex-basis: 33.333333%
	}

	.list-md-4>* {
		width: 25%;
		flex-basis: 25%
	}

	.list-md-5>* {
		width: 20%;
		flex-basis: 20%
	}

	.list-md-6>* {
		width: 16.666666%;
		flex-basis: 16.666666%
	}

	.list-md-8>* {
		width: 12.5%;
		flex-basis: 12.5%
	}

	.list-md-10>* {
		width: 10%;
		flex-basis: 10%
	}

	.list-md-12>* {
		width: 8.333333%;
		flex-basis: 8.333333%
	}

	.mobile .list-md-2>*,
	.mobile .list-md-3>*,
	.mobile .list-md-4>*,
	.mobile .list-md-5>*,
	.mobile .list-md-6>*,
	.mobile .list-md-8>*,
	.mobile .list-md-10>*,
	.mobile .list-md-12>* {
		border-right: 1px solid var(--color_border);
	}

	.mobile .list-md-2>*:nth-child(2n),
	.mobile .list-md-3>*:nth-child(3n),
	.mobile .list-md-4>*:nth-child(4n),
	.mobile .list-md-5>*:nth-child(5n),
	.mobile .list-md-6>*:nth-child(6n),
	.mobile .list-md-8>*:nth-child(8n),
	.mobile .list-md-10>*:nth-child(10n),
	.mobile .list-md-12>*:nth-child(12n) {
		border-right: none;
	}
}

@media (min-width:992px) {
	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		min-width: 0;
		max-width: 100%
	}

	.row-lg-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.row-lg-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.row-lg-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.row-lg-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.row-lg-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.row-lg-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-lg-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-lg-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-lg-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-lg-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-lg-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-lg-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-lg-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-lg-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-lg-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-lg-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-lg-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.list-lg-1>* {
		width: 100%;
		flex-basis: 100%
	}

	.list-lg-2>* {
		width: 50%;
		flex-basis: 50%
	}

	.list-lg-3>* {
		width: 33.333333%;
		flex-basis: 33.333333%
	}

	.list-lg-4>* {
		width: 25%;
		flex-basis: 25%
	}

	.list-lg-5>* {
		width: 20%;
		flex-basis: 20%
	}

	.list-lg-6>* {
		width: 16.666666%;
		flex-basis: 16.666666%
	}

	.list-lg-8>* {
		width: 12.5%;
		flex-basis: 12.5%
	}

	.list-lg-10>* {
		width: 10%;
		flex-basis: 10%
	}

	.list-lg-12>* {
		width: 8.333333%;
		flex-basis: 8.333333%
	}

	.mobile .list-lg-2>*,
	.mobile .list-lg-3>*,
	.mobile .list-lg-4>*,
	.mobile .list-lg-5>*,
	.mobile .list-lg-6>*,
	.mobile .list-lg-8>*,
	.mobile .list-lg-10>*,
	.mobile .list-lg-12>* {
		border-right: 1px solid var(--color_border);
	}

	.mobile .list-lg-2>*:nth-child(2n),
	.mobile .list-lg-3>*:nth-child(3n),
	.mobile .list-lg-4>*:nth-child(4n),
	.mobile .list-lg-5>*:nth-child(5n),
	.mobile .list-lg-6>*:nth-child(6n),
	.mobile .list-lg-8>*:nth-child(8n),
	.mobile .list-lg-10>*:nth-child(10n),
	.mobile .list-lg-12>*:nth-child(12n) {
		border-right: none;
	}
}

@media (min-width:1200px) {
	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		min-width: 0;
		max-width: 100%
	}

	.row-xl-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.row-xl-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.row-xl-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.row-xl-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.row-xl-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.row-xl-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-xl-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-xl-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-xl-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-xl-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-xl-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-xl-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-xl-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-xl-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-xl-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-xl-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-xl-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-xl-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-xl-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.list-xl-1>* {
		width: 100%;
		flex-basis: 100%
	}

	.list-xl-2>* {
		width: 50%;
		flex-basis: 50%
	}

	.list-xl-3>* {
		width: 33.333333%;
		flex-basis: 33.333333%
	}

	.list-xl-4>* {
		width: 25%;
		flex-basis: 25%
	}

	.list-xl-5>* {
		width: 20%;
		flex-basis: 20%
	}

	.list-xl-6>* {
		width: 16.666666%;
		flex-basis: 16.666666%
	}

	.list-xl-8>* {
		width: 12.5%;
		flex-basis: 12.5%
	}

	.list-xl-10>* {
		width: 10%;
		flex-basis: 10%
	}

	.list-xl-12>* {
		width: 8.333333%;
		flex-basis: 8.333333%
	}

	.mobile .list-xl-2>*,
	.mobile .list-xl-3>*,
	.mobile .list-xl-4>*,
	.mobile .list-xl-5>*,
	.mobile .list-xl-6>*,
	.mobile .list-xl-8>*,
	.mobile .list-xl-10>*,
	.mobile .list-xl-12>* {
		border-right: 1px solid var(--color_border);
	}

	.mobile .list-xl-2>*:nth-child(2n),
	.mobile .list-xl-3>*:nth-child(3n),
	.mobile .list-xl-4>*:nth-child(4n),
	.mobile .list-xl-5>*:nth-child(5n),
	.mobile .list-xl-6>*:nth-child(6n),
	.mobile .list-xl-8>*:nth-child(8n),
	.mobile .list-xl-10>*:nth-child(10n),
	.mobile .list-xl-12>*:nth-child(12n) {
		border-right: none;
	}
}


/* ===  对齐  === */
.fr {
	float: right !important;
}

.fl {
	float: left !important;
}

.fc {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.fn {
	float: none !important;
	clear: both;
}

.cl {
	clear: left !important;
}

.cr {
	clear: right !important;
}

.cc {
	clear: both !important;
}

.cn {
	clear: none !important;
}

/* ===  文本对齐  === */
.center {
	text-align: center !important;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

/* ===  填充  === */
/* 基础 */
.pa {
	padding: 1rem !important;
}

.pb {
	padding-bottom: 1rem !important;
}

.pl {
	padding-left: 1rem !important;
}

.plr {
	padding-left: 1rem;
	padding-right: 1rem !important;
}

.pr {
	padding-right: 1rem !important;
}

.pt {
	padding-top: 1rem !important;
}

.ptb {
	padding-top: 1rem;
	padding-bottom: 1rem !important;
}

.pn {
	padding: 0 !important;
}

.pn-t {
	padding-top: 0 !important;
}

.pn-b {
	padding-bottom: 0 !important;
}

.pn-l {
	padding-left: 0 !important;
}

.pn-r {
	padding-right: 0 !important;
}

.pn-tb {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.pn-lr {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* 拓展 */
.pa-0 {
	padding: 0 !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pa-1 {
	padding: 0.25rem !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}

.pr-1 {
	padding-right: 0.25rem !important;
}

.pl-1 {
	padding-left: 0.25rem !important;
}

.pb-1 {
	padding-bottom: 0.25rem !important;
}

.pa-2 {
	padding: 0.5rem !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pr-2 {
	padding-right: 0.5rem !important;
}

.pl-2 {
	padding-left: 0.5rem !important;
}

.pb-2 {
	padding-bottom: 0.5rem !important;
}

.pa-3 {
	padding: 1rem !important;
}

.pt-3 {
	padding-top: 1rem !important;
}

.pr-3 {
	padding-right: 1rem !important;
}

.pl-3 {
	padding-left: 1rem !important;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.pa-4 {
	padding: 1.5rem !important;
}

.pt-4 {
	padding-top: 1.5rem !important;
}

.pr-4 {
	padding-right: 1.5rem !important;
}

.pl-4 {
	padding-left: 1.5rem !important;
}

.pb-4 {
	padding-bottom: 1.5rem !important;
}

.pa-5 {
	padding: 2rem !important;
}

.pt-5 {
	padding-top: 2rem !important;
}

.pr-5 {
	padding-right: 2rem !important;
}

.pl-5 {
	padding-left: 2rem !important;
}

.pb-5 {
	padding-bottom: 2rem !important;
}

.ptb-1 {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.ptb-2 {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.ptb-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.ptb-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.ptb-5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

.plr-1 {
	padding-left: 0.25rem !important;
	padding-right: 0.25rem !important;
}

.plr-2 {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.plr-3 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.plr-4 {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}

.plr-5 {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}


/* ===  间距  === */
.ma {
	margin: 1rem !important;
}

.mb {
	margin-bottom: 1rem !important;
}

.mc {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}

.ml {
	margin-left: 1rem !important;
}

.mlr {
	margin-left: 1rem;
	margin-right: 1rem !important;
}

.mr {
	margin-right: 1rem !important;
}

.mt {
	margin-top: 1rem !important;
}

.mtb {
	margin-top: 1rem;
	margin-bottom: 1rem !important;
}

.mn {
	margin: 0 !important;
}

.mn-t {
	margin-top: 0 !important;
}

.mn-r {
	margin-right: 0 !important;
}

.mn-b {
	margin-bottom: 0 !important;
}

.mn-l {
	margin-left: 0 !important;
}

.mx {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.my {
	position: absolute;
	transform: translateY(-50%);
}

.mxy {
	position: absolute;
	transform: translate(-50%, -50%);
}

/* 拓展 */
.ma-0 {
	margin: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.ma-1 {
	margin: 0.25rem !important;
}

.mt-1 {
	margin-top: 0.25rem !important;
}

.mr-1 {
	margin-right: 0.25rem !important;
}

.ml-1 {
	margin-left: 0.25rem !important;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

.ma-2 {
	margin: 0.5rem !important;
}

.mt-2 {
	margin-top: 0.5rem !important;
}

.mr-2 {
	margin-right: 0.5rem !important;
}

.ml-2 {
	margin-left: 0.5rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.ma-3 {
	margin: 1rem !important;
}

.mt-3 {
	margin-top: 1rem !important;
}

.mr-3 {
	margin-right: 1rem !important;
}

.ml-3 {
	margin-left: 1rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.ma-4 {
	margin: 1.5rem !important;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

.mr-4 {
	margin-right: 1.5rem !important;
}

.ml-4 {
	margin-left: 1.5rem !important;
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.ma-5 {
	margin: 2rem !important;
}

.mt-5 {
	margin-top: 2rem !important;
}

.mr-5 {
	margin-right: 2rem !important;
}

.ml-5 {
	margin-left: 2rem !important;
}

.mb-5 {
	margin-bottom: 2rem !important;
}

.mtb-1 {
	margin-top: 0.25rem !important;
	margin-bottom: 0.25rem !important;
}

.mtb-2 {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.mtb-3 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

.mtb-4 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

.mtb-5 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.mlr-1 {
	margin-left: 0.25rem !important;
	margin-right: 0.25rem !important;
}

.mlr-2 {
	margin-left: 0.5rem !important;
	margin-right: 0.5rem !important;
}

.mlr-3 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

.mlr-4 {
	margin-left: 1.5rem !important;
	margin-right: 1.5rem !important;
}

.mlr-5 {
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}


/* ===  边框  === */
.ba {
	border: 1px solid #e5e5e5 !important;
}

.bb {
	border-bottom: 1px solid #e5e5e5 !important;
}

.bl {
	border-left: 1px solid #e5e5e5 !important;
}

.blr {
	border-left: 1px solid #e5e5e5 !important;
	border-right: 1px solid #e5e5e5 !important;
}

.bn {
	border: none !important;
}

.br {
	border-right: 1px solid #e5e5e5 !important;
}

.bt {
	border-top: 1px solid #e5e5e5 !important;
}

.btb {
	border-top: 1px solid #e5e5e5 !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

/* ===  圆角  === */
.b-a {
	border-radius: 0.25rem !important;
	overflow: hidden;
}

.b-b {
	border-bottom-right-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important;
	overflow: hidden;
}

.b-c {
	border-radius: 50% !important;
	overflow: hidden;
}

.b-l {
	border-bottom-left-radius: 0.25rem !important;
	border-top-left-radius: 0.25rem !important;
	overflow: hidden;
}

.b-n {
	border-radius: 0 !important;
	overflow: hidden;
}

.b-r {
	border-bottom-right-radius: 0.25rem !important;
	border-top-right-radius: 0.25rem !important;
	overflow: hidden;
}

.b-t {
	border-top-left-radius: 0.25rem !important;
	border-top-right-radius: 0.25rem !important;
	overflow: hidden;
}

.b-lb {
	border-bottom-left-radius: 0.25rem !important;
	overflow: hidden;
}

.b-lt {
	border-top-left-radius: 0.25rem !important;
	overflow: hidden;
}

.b-rb {
	border-bottom-right-radius: 0.25rem !important;
	overflow: hidden;
}

.b-rt {
	border-top-right-radius: 0.25rem !important;
	overflow: hidden;
}

/** 图片 **/
.img-huge .img {
	width: var(--img_size_huge);
	height: var(--img_size_huge);
}

.img-larger .img {
	width: var(--img_size_larger);
	height: var(--img_size_larger);
}

.img-big .img {
	width: var(--img_size_big);
	height: var(--img_size_big);
}

.img-base .img {
	width: var(--img_size_base);
	height: var(--img_size_base);
}

.img-small .img {
	width: var(--img_size_small);
	height: var(--img_size_small);
}

.img-mini .img {
	width: var(--img_size_mini);
	height: var(--img_size_mini);
}

.img_w-huge .img {
	width: var(--img_size_huge);
}

.img_w-larger .img {
	width: var(--img_size_larger);
}

.img_w-big .img {
	width: var(--img_size_big);
}

.img_w-base .img {
	width: var(--img_size_base);
}

.img_w-small .img {
	width: var(--img_size_small);
}

.img_w-mini .img {
	width: var(--img_size_mini);
}

.img_h-huge .img {
	height: var(--img_size_huge);
}

.img_h-larger .img {
	height: var(--img_size_larger);
}

.img_h-big .img {
	height: var(--img_size_big);
}

.img_h-base .img {
	height: var(--img_size_base);
}

.img_h-small .img {
	height: var(--img_size_small);
}

.img_h-mini .img {
	height: var(--img_size_mini);
}



.card-m {
	/* min-height: 10rem; */
	margin: var(--margin_small);
	height: calc(100% - var(--margin_base));
}
