/* ===  导航栏  === */
.mm_bar_logo {
	overflow: hidden;
	position: relative;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.mm_bar_logo:after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.mm_bar_logo:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mm_bar_logo img {
	max-height: var(--img_size_mini);
	margin: var(--margin_small);
}

.mm_bar_logo span {
	line-height: 2.25rem;
	font-size: var(--font_small);
}

/* ===  导航栏  === */
.mm_nav_fast button {
	line-height: var(--height_big);
	height: var(--height_big);
	border-radius: 0;
}

.mm_nav_side .mm_item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	padding: 0;
}

.mm_nav_side .mm_item.active {
	border-bottom: none;
}

.mm_nav_side .mm_item.active::before {
	display: none;
}

.mm_nav_side .mm_item::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mm_nav_side {
	color: var(--color_default_h);
}

.mm_nav_side .btn {
	overflow: hidden;
	line-height: var(--height_big);
	padding: 0 var(--padding_mini);
	color: inherit;
	font-size: var(--font_small);
	position: relative;
}

.mm_nav_side .btn:after {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	content: "";
	padding: 3px;
	display: block;
	border: solid var(--color_default_h);
	border-width: 0 1px 1px 0;
	transition: all 0.2s;
}

.mm_nav_side .btn:hover {
	color: var(--color_white);
	background: rgba(3, 4, 29, 0.1);
}

.mm_nav_side .active .btn:after {
	transform: translateY(-50%) rotate(45deg);
	border-color: var(--color_white);
}

.mm_nav_side .box {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.2s;
	transition: max-height 0.2s;
	background: rgb(22, 25, 28);
}

.mm_nav_side .active .box {
	max-height: 80vh;
	padding: var(--padding_mini) 0;
}

.mm_nav_side .active .btn {
	color: var(--color_white);
	background: rgb(49, 131, 246);
	background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 0%, rgba(102, 188, 244, 0.42) 39%, rgba(49, 166, 247, 0.42) 40%, rgba(49, 131, 246, 0.3) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 0%, rgba(102, 188, 244, 0.42) 39%, rgba(49, 166, 247, 0.42) 40%, rgba(49, 131, 246, 0.3) 100%);
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(102, 188, 244, 0.42) 39%, rgba(49, 166, 247, 0.42) 40%, rgba(49, 131, 246, 0.3) 100%);
}

.mm_nav_side a {
	display: block;
	line-height: var(--height_big);
	padding-left: 2.5rem;
	font-size: var(--font_small);
	position: relative;
}


.mm_nav_side .mm_icon {
	float: left;
	text-align: center;
	min-width: 1.5rem;
	margin-right: var(--margin_small);
}

.mm_nav_top>button,
.mm_nav_main>button {
	display: none;
}

.mm_nav_top a,
.mm_nav_main a {
	display: inline-block;
	font-size: var(--font_small);
	padding: 0 var(--padding_small);
}

.mm_nav_top {
	text-align: right;
}

@media (max-width:768px) {
	.mm_nav_top>button,
	.mm_nav_main>button {
		display: inline-block;
	}
	
	.mm_nav_top>nav,
	.mm_nav_main>nav {
		max-height: 0;
		overflow: hidden;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		z-index: 10;
		padding: 0;
		background: rgba(0, 0, 0, 0.75);
		transition: max-height padding-top 0.3s ease-in-out;
	}
	
	.mm_nav_top a,
	.mm_nav_main a {
		display: block;
		padding: var(--padding_mini) 0;
	}
	
	.mm_nav_top>.show,
	.mm_nav_main>.show {
		max-height: 100vh;
		padding-top: 2.5rem;
	}
}

@media (min-width:768px) {
	
}

.mm_nav_side a:hover {
	color: var(--color_white);
}